.idea/**
.env
vendor/
node_modules/
.phpstorm.meta.php
_ide_helper.php
public/mix-manifest.json
public/storage
.php_cs.cache
composer.lock
yarn.lock
.DS_Store
.vagrant
Homestead.yaml
npm-debug.log
yarn-error.log
.yarnclean
*.sql
.phpintel/
public/arquivo.pdf
