
#public-billboard {
  max-width: 836px;
  padding: 40px 20px;
  margin: 20px auto;
  background: #fff;
  box-sizing: border-box;
  min-height: calc(100vh - 60px);
  box-shadow: 2px 2px 2px #d7d7d7;
}
#public-billboard .ibox-content {
  padding-left: 0;
  padding-right: 0;
  padding-top: 10px;
}
#public-billboard .m-t {
  margin-top: -25px;
}
h3 {
  margin-top: 0px;
}

.billboard-face{
  margin-top: 0px;
  max-height: 200px;

}