// Colors
$white: #fff;
$gray-100: #f0f2f7;
$gray-200: #e4e6eb;
$gray-300: #c7cbd5;
$gray-400: #869fac;
$gray-500: #678898;
$gray-600: #9da0a8;
$gray-700: #3e515b;
$gray-800: #383e4b;
$gray-900: #151b1e;
$black: #000 !default;

$blue: #43a3d0;
$light-blue: #C1DBE0;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #ff5454;
$orange: #fabb3d;
$yellow: #ffc107 !default;
$green: #bdea74;
$teal: #20c997 !default;
$cyan: #67c2ef;

// Body
$body-bg: #f5f8fa;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;
